* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    background-color: rgb(19, 19, 45);
    color: yellowgreen;
    margin: 20px auto;
}

.container {
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    gap: 10px;
    max-width: 85vw;
    font-family: sans-serif;
    font-size: x-large;
    height: 100vh;
}

h1 {
    padding: 10px;
}

p {
    padding-bottom: 10px;
}

.flex {
    display: flex;
    flex-direction: column;
}

#text {
    text-decoration: none;
    background-color: antiquewhite;
    font-size: 48px;
    padding: 5px;
    margin-bottom: 0.2em;
    border: none;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#text::placeholder {
    font-size:0.5em;
    text-align: center;
    padding: 3em 4em;
}
#banner {
    padding: 20px 40px;
    background-color: bisque;
    margin-top: 20px;
    font-size: 24px;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    outline: none;
   

}
.btn>button{
    padding: 20px 40px;
    margin-top: 20px;
    font-size: 24px;
    border-radius: 10px;
    font-weight: 600;
    outline: none;
    background-color: pink;
    border: 5px;
}
.btn>button:hover {
    cursor: pointer;
    transition: transform .8s ease-out;
    transform: scale(1.1);
}

#banner:hover {
    cursor: pointer;
    transition: transform .8s ease-out;
    transform: scale(1.1);    
}

.result {
    padding-top: 1em;
    padding-bottom: 1em;
}

.result > pre {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

h2 {
    margin-top: 0.2em;
}

.result-box {
    border: 5px solid bisque;
    border-radius: 5px;
    overflow-x: auto;
    word-wrap: break-word;
    margin-top: 1em;
    padding: 1em;
}