<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii Art Web</title>
</head>
<body>
    <h1>ASCII Art</h1>
    <p>Get ready to print art</p>
    <form action="/asciiart" method="POST">
        <div>
            
            <label for="text">Text:</label>
            <textarea type="text" id="text" name="text" required></textarea><br>  
        </div>

        <div>
            <label for="banner">Banner Files</label>
            <select name="banner" id="banner" required>
                <option value="standard">Standard</option>
                <option value="shadow">Shadow</option>
                <option value="thinkertoy">Thinkertoy</option>
            </select>
        </div>
        <div class="btn">
            <button type="submit">Print</button>
        </div>
    </form>
    <div>
        {{if .Result}}
        <h2>Result:</h2>
        <pre>{{.Result}}</pre>
        {{end}}
    </div>
</body>
</html>